<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCIJJ6VucWyEUV-vyvkJA3Fnql1myxYix4</string>
	<key>GCM_SENDER_ID</key>
	<string>120461528244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stateChangeDemo</string>
	<key>PROJECT_ID</key>
	<string>pueblos-firebase-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>pueblos-firebase-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120461528244:ios:4b0b0731a5f8d96b691be1</string>
</dict>
</plist>